.button {
  color: white;
  background-color: rgb(84, 8, 114);
  border-radius: 12px;
  border: none;
  font-size: 1.5rem;
  margin-top: 0.6rem;
}

.button:hover {
  background-color: rgb(72, 7, 98);
}

.button:active {
  transform: translateY(5%);
}

.center {
  text-align: center;
}

.navigation {
  display: block;
  font-size: 1.2rem;
  padding-top: 0.4rem;
}

.previous {
  float: left;
  color: white;
  background-color: darkslategrey;
  border: none;
  border-radius: 10px;
  padding: 4px;
  font-size: 1.2rem;
}

.previous:hover {
  background-color: rgb(35, 58, 58);
}

.previous:active {
  transform: translateY(5%);
}

.next {
  float: right;
  color: white;
  background-color: darkslategrey;
  border: none;
  border-radius: 10px;
  padding: 4px;
  font-size: 1.2rem;
}

.next:hover {
  background-color: rgb(35, 58, 58);
}

.next:active {
  transform: translateY(5%);
}

.counter {
  text-align: center;
  margin: 0 auto;
}

.list {
  padding: 0;
}
